<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2><%= @recipe.title %></h2>
		<p><%= @recipe.description %></p>
		<div>
			<%= link_to "Back", recipes_path, class: "btn btn-default" %>
			<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
			<%= link_to "Remove", recipe_path(@recipe), method: :delete, data: {confirm: "Sure?"}, class: "btn btn-default" %>
		</div>
	</div>
</div>